* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(225, 220, 200);
  color: rgb(39, 68, 93);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-app {
  background-color: rgb(239, 233, 213);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 520px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: rgb(39, 68, 93);
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.todo-input {
  padding: 10px;
  font-size: 1rem;
  width: 75%;
  margin-right: 10px;
  border: 2px solid rgb(73, 125, 116);
  border-radius: 5px;
  outline: none;
  color: rgb(39, 68, 93);
}

.todo-input:focus {
  border-color: rgb(113, 187, 178);
}

.todo-button {
  padding: 10px 20px;
  height: 42px;
  background-color: rgb(113, 187, 178);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

.todo-update-button {
  padding: 10px 20px;
  height: 42px;
  background-color: rgb(113, 187, 178);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
}

.todo-button:hover,
.todo-update-button:hover {
  background-color: rgb(73, 125, 116);
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(73, 125, 116);
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.3s ease;
}

.todo-row.complete {
  background-color: rgb(113, 187, 178);
  text-decoration: line-through;
}

.todo-row:hover {
  background-color: rgb(39, 68, 93);
}

.todo-row:first-child {
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 10px;
}

.delete-icon,
.edit-icon,
.delete-icon:hover {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.delete-icon:hover,
.edit-icon:hover {
  color: rgb(239, 233, 213);
}

.complete-icon,
.complete-icon:hover {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}
